---
import Layout           from '../layouts/Layout.astro';
import Navbar           from '../components/Navbar.astro';
import Hero             from '../components/Hero.astro';
import BandaClientes    from '../components/BandaClientes.astro';
import QuienesSomos     from '../components/QuienesSomos.astro';
import Servicios        from '../components/Servicios.astro';
import PorQueElegirnos  from '../components/PorQueElegirnos.astro';
import Filosofia        from '../components/Filosofia.astro';
import Testimoniales    from '../components/Testimoniales.astro';
import Contacto         from '../components/Contacto.astro';
import Footer           from '../components/Footer.astro';
import WAButton         from '../components/WAButton.astro';
---
<Layout>
  <Navbar />
  <main>
    <Hero />
    <BandaClientes />
    <QuienesSomos />
    <Servicios />
    <PorQueElegirnos />
    <Filosofia />
    <Testimoniales />
    <Contacto />
  </main>
  <Footer />
  <WAButton />
</Layout>
